    @font-face {
      font-family: 'ProximaNova';
      src: url('../font/ProximaNova-Light.otf') format('opentype');
      font-weight: 300;
      font-style: normal;
      font-display: swap;
    }

    @font-face {
      font-family: 'ProximaNova';
      src: url('../font/ProximaNova-Regular.ttf') format('opentype');
      font-weight: 400;
      font-style: normal;
      font-display: swap;
    }

    @font-face {
      font-family: 'ProximaNova';
      src: url('../font/ProximaNova-SemiBold.otf') format('opentype');
      font-weight: 600;
      font-style: normal;
      font-display: swap;
    }

    @font-face {
      font-family: 'ProximaNova';
      src: url('../font/ProximaNova-Bold.otf') format('opentype');
      font-weight: 700;
      font-style: normal;
      font-display: swap;
    }
    @font-face {
      font-family: 'ProximaNova';
      src: url('../font/ProximaNova-Black.otf') format('opentype');
      font-weight: 900;
      font-style: normal;
      font-display: swap;
    }

    @font-face {
      font-family: 'Acumin-Pro-ExtraCondensed';
      src: url('../font/Acumin_Pro_ExtraCondensed_Light.otf') format('opentype');
      font-weight: 300;
      font-style: normal;
      font-display: swap;
    }  

    @font-face {
      font-family: 'Acumin-Pro-ExtraCondensed';
      src: url('../font/Acumin_Pro_ExtraCondensed_Regular.otf') format('opentype');
      font-weight: 400;
      font-style: normal;
      font-display: swap;
    }  
    
    @font-face {
      font-family: 'Acumin-Pro-ExtraCondensed';
      src: url('../font/Acumin_Pro_ExtraCondensed_Bold.otf') format('opentype');
      font-weight: 700;
      font-style: normal;
      font-display: swap;
    }

    @font-face {
      font-family: 'FjallaOne';
      src: url('../font/FjallaOne-Regular.ttf') format('opentype');
      font-weight: 400;
      font-style: normal;
      font-display: swap;
    }

* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

body {
    font-family: 'ProximaNova', sans-serif;
    color: #fff;
    overflow-x: hidden;
}
/* Header */
header {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0;
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    padding: 50px 48px 0;
    background: transparent; 
    z-index: 10;
}

.logo img {
    width: 120px; height: 124px;
}

a {
    color: inherit;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

a:hover {
    opacity: .5;
}

    nav {
      position: fixed; 
      top: 0; 
      left: -100%;
      width: 100%; 
      height: 100%; 
      background: #000;
      display: flex; 
      flex-direction: column;
      align-items: center; 
      justify-content: center;
      transition: left 0.3s ease-in-out; 
      z-index: 9;
    }
    nav.open { 
        left: 0; 
    }
    .nav-close {
      position: absolute; 
      top: 20px; 
      right: 20px;
      background: none; 
      border: none;
      font-size: 2rem; 
      color: #fff; 
      cursor: pointer;
    }
    nav a {
      font-family: 'ProximaNova', sans-serif;
      font-weight: 400;
      font-size: 14px;
      padding: 14px; 
      color: #fff;
      text-transform: uppercase;
    }
    header.nav-open .nav-toggle { 
        display: none; 
    }

/* Header */

/* Isi */
.contact-main {
    background-color: #fff;
    margin-top: 200px;
    padding: 120px 48px;
    color: #000;
}
.contact-intro {
    text-align: center;
    margin: 0 10rem 0 10rem;
}

.contact-intro a {
    color: #b3b3b3;
    border-bottom-style: solid;
    border-bottom-color: rgba (179, 179, 179, 0.3);
}
.contact-intro h2 {
    font-family: 'Acumin-Pro-ExtraCondensed', sans-serif;
    font-size: 62px;
    font-weight: 300;
    margin-bottom: 34px;
}

.contact-intro strong {
    font-weight: bold;
}

.contact-intro p {
    font-size: 16px;
    margin: 16px 0;
    font-weight: 300;
    line-height: 1.8em;
}

.founder-section h2, .contact-location h2 {
    font-size: 60px;
    font-weight: 300;
    margin-bottom: 50px;
}

h1, h2 {
    font-family: 'Acumin-Pro-ExtraCondensed', sans-serif;
    font-weight: 700;
}

.founder-section p, .contact-location p {
    font-size: 16px;
    font-weight: 300;
    margin: 16px 0;
}

.two-col {
    display: flex;
    flex-wrap: wrap;
    margin: 0 10rem 0 10rem;

}

.contact-qr-cta .left-col img{
    width: 100%;
    height: auto;
    display: block;
}

.left-col, .right-col {
    box-sizing: border-box;
    flex: 1 1 50%;
    padding: 1rem;
}
.contact-qr-cta .right-col .partner-title {
    font-family: 'Arial', sans-serif;
    font-size: 62px;
    font-weight: 700;
    line-height: 1.1em;
    margin-top: 100px;
}
.contact-qr-cta .right-col p {
    margin: 22px 0;
    font-family: 'Arial', sans-serif;
    font-size: 22px;
    color: #000;
}

.contact-location {
    margin-top: 100px;
}
/* Isi */

/* Footer */
.contact-footer{
    display: flex;
    flex-direction: row;
    background: #000;
    color: #fff;
    padding: 100px 50px;
    justify-content: center;
    align-items: center;
}
.contact-footer p {
    display: inline;
    margin: 0 1rem;
    font-size: 13px;
    font-family: "fjallaOne", sans-serif;
    font-weight: 400;
    text-align: center;
}
/* Footer */

@media (min-width: 768px) {
    .nav-toggle { 
        display: none; 
    }
    nav {
        position: static; 
        transform: none; 
        height: auto;
        background: transparent; 
        flex-direction: row;
        justify-content: flex-end; 
        padding: 0; 
        left: 0;
    }
    .nav-close { 
        display: none; 
    }
        nav a {
        color: #555;
    }
    
}

@media (max-width: 767px) {
    header {
        position: fixed; 
        margin: 0; 
        padding: 10px 20px; 
        background: #fff;
        border-bottom: #000 solid 1px;
    }
    .logo img { 
        width: 80px; 
        height: 82px; 
    }

    .nav-toggle {
        display: block; 
        background: #fff; 
        border: none;
        padding: 8px; 
        border-radius: 4px;
        font-size: 24px; 
        color: #222; 
        cursor: pointer; 
        z-index: 11;
    }

    .contact-main {
        margin-top: 60px;
        padding: 60px 20px;
    }

    .contact-intro {
        margin: 4rem 0 0 0;
        padding-bottom: 0;
    }

    .contact-intro h2 {
        font-size: 28px;
        margin-bottom: 24px;
    }

    .two-col {
        margin: 4rem 2rem 0 2rem;
    }

    .left-col, .right-col {
        flex: 1 1 100%;
    }

    .contact-qr-cta .right-col .partner-title {
        margin-top: 0px;
        font-size: 38px;
    }

    .contact-qr-cta .right-col p {
        font-size: 14px;
    }

    .founder-section h2, .contact-location h2 {
        font-size: 28px;
        margin-bottom: 24px;
    }

    .contact-footer {
        flex-direction: column;
    }

    .contact-footer p {
        margin-bottom: 16px;
    }
}